Project3Task2Client/src/META-INF/wsdl/localhost_8080/Project3Task2Server/Project3ServerTask2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ryellajo.edu.cmu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ryellajo.edu.cmu/" name="Project3ServerTask2">
<types>
<xsd:schema>
<xsd:import namespace="http://ryellajo.edu.cmu/" schemaLocation="http://localhost:8080/Project3Task2Server/Project3ServerTask2?xsd=1"/>
</xsd:schema>
</types>
<message name="Genesis">
<part name="parameters" element="tns:Genesis"/>
</message>
<message name="GenesisResponse">
<part name="parameters" element="tns:GenesisResponse"/>
</message>
<message name="convertToDoc">
<part name="parameters" element="tns:convertToDoc"/>
</message>
<message name="convertToDocResponse">
<part name="parameters" element="tns:convertToDocResponse"/>
</message>
<message name="ParserConfigurationException">
<part name="fault" element="tns:ParserConfigurationException"/>
</message>
<message name="SAXException">
<part name="fault" element="tns:SAXException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<portType name="Project3Task2Server">
<operation name="Genesis">
<input wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/GenesisRequest" message="tns:Genesis"/>
<output wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/GenesisResponse" message="tns:GenesisResponse"/>
</operation>
<operation name="convertToDoc">
<input wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/convertToDocRequest" message="tns:convertToDoc"/>
<output wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/convertToDocResponse" message="tns:convertToDocResponse"/>
<fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/convertToDoc/Fault/ParserConfigurationException"/>
<fault message="tns:SAXException" name="SAXException" wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/convertToDoc/Fault/SAXException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/convertToDoc/Fault/IOException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ryellajo.edu.cmu/Project3Task2Server/convertToDoc/Fault/NoSuchAlgorithmException"/>
</operation>
</portType>
<binding name="Project3Task2ServerPortBinding" type="tns:Project3Task2Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Genesis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertToDoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParserConfigurationException">
<soap:fault name="ParserConfigurationException" use="literal"/>
</fault>
<fault name="SAXException">
<soap:fault name="SAXException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Project3ServerTask2">
<port name="Project3Task2ServerPort" binding="tns:Project3Task2ServerPortBinding">
<soap:address location="http://localhost:8080/Project3Task2Server/Project3ServerTask2"/>
</port>
</service>
</definitions>