Project3Task1Client/xml-resources/web-service-references/Project3Task1Server/wsdl/localhost_8080/Project3Task1Server/Project3Task1Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ryellajo.edu.cmu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ryellajo.edu.cmu/" name="Project3Task1Server">
<types>
<xsd:schema>
<xsd:import namespace="http://ryellajo.edu.cmu/" schemaLocation="http://localhost:8080/Project3Task1Server/Project3Task1Server?xsd=1"/>
</xsd:schema>
</types>
<message name="decrypt">
<part name="parameters" element="tns:decrypt"/>
</message>
<message name="decryptResponse">
<part name="parameters" element="tns:decryptResponse"/>
</message>
<message name="Genesis">
<part name="parameters" element="tns:Genesis"/>
</message>
<message name="GenesisResponse">
<part name="parameters" element="tns:GenesisResponse"/>
</message>
<message name="showDetails">
<part name="parameters" element="tns:showDetails"/>
</message>
<message name="showDetailsResponse">
<part name="parameters" element="tns:showDetailsResponse"/>
</message>
<message name="addBlock">
<part name="parameters" element="tns:addBlock"/>
</message>
<message name="addBlockResponse">
<part name="parameters" element="tns:addBlockResponse"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="checkHash">
<part name="parameters" element="tns:checkHash"/>
</message>
<message name="checkHashResponse">
<part name="parameters" element="tns:checkHashResponse"/>
</message>
<portType name="Project3Task1Server">
<operation name="decrypt">
<input wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/decryptRequest" message="tns:decrypt"/>
<output wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/decryptResponse" message="tns:decryptResponse"/>
</operation>
<operation name="Genesis">
<input wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/GenesisRequest" message="tns:Genesis"/>
<output wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/GenesisResponse" message="tns:GenesisResponse"/>
</operation>
<operation name="showDetails">
<input wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/showDetailsRequest" message="tns:showDetails"/>
<output wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/showDetailsResponse" message="tns:showDetailsResponse"/>
</operation>
<operation name="addBlock">
<input wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/addBlockRequest" message="tns:addBlock"/>
<output wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/addBlockResponse" message="tns:addBlockResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/addBlock/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="checkHash">
<input wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/checkHashRequest" message="tns:checkHash"/>
<output wsam:Action="http://ryellajo.edu.cmu/Project3Task1Server/checkHashResponse" message="tns:checkHashResponse"/>
</operation>
</portType>
<binding name="Project3Task1ServerPortBinding" type="tns:Project3Task1Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="decrypt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Genesis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="checkHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Project3Task1Server">
<port name="Project3Task1ServerPort" binding="tns:Project3Task1ServerPortBinding">
<soap:address location="http://localhost:8080/Project3Task1Server/Project3Task1Server"/>
</port>
</service>
</definitions>