Project3Task1Client/xml-resources/web-service-references/Project3Task1Server/wsdl/localhost_8080/Project3Task1Server/Project3Task1Server.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ryellajo.edu.cmu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ryellajo.edu.cmu/">

<xs:element name="Genesis" type="tns:Genesis"/>

<xs:element name="GenesisResponse" type="tns:GenesisResponse"/>

<xs:element name="NoSuchAlgorithmException" type="tns:NoSuchAlgorithmException"/>

<xs:element name="addBlock" type="tns:addBlock"/>

<xs:element name="addBlockResponse" type="tns:addBlockResponse"/>

<xs:element name="checkHash" type="tns:checkHash"/>

<xs:element name="checkHashResponse" type="tns:checkHashResponse"/>

<xs:element name="decrypt" type="tns:decrypt"/>

<xs:element name="decryptResponse" type="tns:decryptResponse"/>

<xs:element name="showDetails" type="tns:showDetails"/>

<xs:element name="showDetailsResponse" type="tns:showDetailsResponse"/>

<xs:complexType name="addBlock">
<xs:sequence>
<xs:element name="difficulty" type="xs:int"/>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBlockResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchAlgorithmException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showDetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decrypt">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decryptResponse">
<xs:sequence>
<xs:element name="return" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkHash">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkHashResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Genesis">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GenesisResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>